/* TODO Add site wide styles */
body{
    background-color: #EEF0F1;
    font-family: Monaco;

}
.landing_page_image {
    background-image: url("./images/self-esteem.jpg");
    background-size: cover;
    height: 60em;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
}